    {{> head }}


    {{> navbar }}
    <div class="container">
    <div class="row">
        <div class="col-8">
            <h1>Mi gato</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae facilis dolores consequuntur exercitationem ipsum. Ipsum dignissimos ullam maiores odio suscipit aperiam quibusdam pariatur esse praesentium. Nobis voluptates animi eveniet quaerat?
            </p>
        </div>

        <div class="col-4">
            <img class="img-thumbnail" src="assets/img/gato.jpg" alt="">
        </div>
    </div>

    </div>


    {{> footer }}